<!DOCTYPE html>

<html>
<head>
    <link rel="icon" href="/img/weather.png">
    <title>Help</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="main-content">
            {{>header}}
        <p>Create by {{name}}</p>
        <img class="portrait" src="/img/robot.png" alt="">
    </div>
    {{>footer}}
</body>
</html>